* {
    margin: 0;
    padding: 0;
}

body h1 {
    font-family: 'gothic';
    color: #233142;
}

body p {
    font-family: 'comforta';
    color: #455d7a;
}

@font-face {
    src: url(fontovi/FontsFree-Net-All-Round-Gothic-W01-Demi.ttf);
    font-family: gothic;
}

@font-face {
    src: url(fontovi/Comfortaa-Regular.ttf);
    font-family: comforta;
}

@font-face {
    src: url(fontovi/Comfortaa-Bold.ttf);
    font-family: comforta b;
}

.banner {
    background: linear-gradient(to bottom right, #233142, #455d7a);
    height: 100vh;
}

.title-desc {
    font-family: 'comforta';
    font-size: 1.3em;
    color: rgb(197, 222, 255);
    margin: 0;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    opacity: 1.2;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;

}

.title-desc a {
    color: #eef1f6;
    text-decoration: none;

}

.title-desc h4 {
    transition: 0.8s cubic-bezier(.3, 0, 0, .5);
}

.title-desc h4:hover {
    color: #3479fc;

}


.logo {
    background: url(../webbl654/images/purplewebl.png);
    background-size: cover;
    margin: 0;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 81vh;
    width: 50vw;
    position: absolute;
    opacity: 100;
    z-index: 0;
}

/* MENU */

/* .menu{
    background: linear-gradient(to bottom right,#0CA3FF,#9442fe);
    position: fixed;
    height: 100vh;
    width: 200px;
    margin-top: -94vh;
    border-bottom-right-radius: 18px;
    transition: 0.6s cubic-bezier(.3,0,0,.2);
   
}


.menu:hover{
    background: linear-gradient(to bottom right,#0CA3FF,#9442fe);
    margin-top: 0;
    border-radius: 0;
    /* opacity: 0.3; 
}


.menu-list{
    text-align: center;

}

.menu-list .list{
    font-family: 'gothic';
    font-weight: 100;
    font-size: 27px;
    opacity: 1;
    margin-top: 3.3vh;
    transition: 0.6s cubic-bezier(.3,0,0,.2);

}

.menu-list a{
    color: #eef1f6;
    text-decoration: none;
    transition: 0.2s cubic-bezier(.3,0,0,.2);
}

.menu-list a:hover{
    color: #455d7a;
}


.menu-bottom{
    font-family: 'gothic';
    font-size: 5vh;
    margin: 0;
    bottom: 0;
    width: 200px;
    height: 6vh;
    position: absolute;
    text-align: center;
    transition: 0.3s cubic-bezier(.3,0,0,.2);
}

.menu-bottom h4{
    color: #eef1f6;
    margin: auto;
}

.menu:hover .menu-bottom{
    opacity: 0;
    bottom: 25px;
} */

.list-menu {
    width: 100vw;
    height: 12vh;
    background: rgb(35, 49, 66);
    /* background: transparent; */
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9;
    text-decoration: none;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: rgb(101, 33, 228);
    border-radius: 0px 0px 5px 5px;

}

.list-menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'comforta';
    font-size: 18px;
    transition: 0.3s cubic-bezier(.3, 0, 0, 0.5);
    margin: 5px 0;
}

.list-menu a:hover {
    color: #3479fc;
    font-size: 18px;

}

@media screen and (max-width:770px) {
    .search-box {
        top: 25%;
        left: 50%;
    }

    .title-desc {
        font-size: 1em;
    }

    .logo {
        background-size: cover;
        height: 50vh;
        width: 100vw;
        top: 50%;
        left: 50%;
    }

    .list-menu {
        background: rgb(52, 121, 252);
        position: fixed;
        height: 50vh;
        width: 45vw;
        margin-top: -46vh;
        left: 22.5%;
        border-bottom-right-radius: 18px;
        border-bottom-left-radius: 0;
        transition: 0.6s cubic-bezier(.3, 0, 0, .2);
        flex-direction: column;
        font-family: 'comforta b';
        font-size: 0.9em;
    }

    .list-menu:hover {
        background: rgba(52, 121, 252, 0.7);
        margin-top: 0;
        border-radius: 0;
    }

    .list-menu a:hover {
        color: #233142;
    }

    .menu-txt {

        color: #eef1f6;
        position: absolute;
        /* background-color: rgba(35, 49, 66, 0.4); */
        z-index: 2;
        margin-top: 46.8vh;
        margin-left: 16.3vw;
        text-align: bottom;
        font-family: 'comforta';
        opacity: 0.8;
        transition: 0.4s cubic-bezier(.3, 0, 0, 0.5);
    }

    .list-menu:hover .menu-txt {
        color: transparent;
    }
}

a {
    color: #fff;
    font-family: 'comforta';
}

.me {
    width: 400px;
    margin: 90px auto;
}

.me p,
.me h1 {
    letter-spacing: 3px;
    text-align: center;
}

.me p {
    font-weight: 200;
}

.me span {
    font-weight: bold;
}

.social {

    padding-top: 200px;
}

.social ul {
    padding: 0px;
    transform: translate(-285px, 0);
}

.social ul li {
    display: block;
    margin: 5px;
    background: rgba(35, 49, 66, 0.4);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}

.social ul li:hover {
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: rgb(255, 255, 255);
}

.social ul li:hover i {
    color: #fff;
    background: #3479fc;
    transform: rotate(360deg);
    transition: all 1s;
}

.social ul li i {
    margin-left: 10px;
    color: #fff;
    background: linear-gradient(to bottom right, #3479fc, rgb(101, 33, 228));
    padding: 5px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 15px;
    transform: rotate(0deg);
}

body {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

/* ------- ABOUT US ------- */

.about_us {
    height: 100vh;
    padding: 0 10vw 0 10vw;
    /* display: flex; */
}


.title1 {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10vh;
    z-index: 1;
}

.title1 p {
    font-size: 20px !important;
    margin-right: 42vw;
    margin-top: 18px;
    line-height: 34px;
}

.detail {
    width: 525px;
    height: 20px;
    background: linear-gradient(to right, #3479fc, rgb(101, 33, 228));
    opacity: 0.7;
    position: absolute;
    top: 142.4vh;
    z-index: -1;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.cikice {
    height: 350px;
    width: 500px;
    background-image: url("cikice-posluju.png");
    background-size: cover;
    position: absolute;
    right: 15vh;
    top: 122vh;
}

.title2 {
    text-align: center;
    font-size: 23px;
    margin-top: 130px;
}

.boxes {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;

}

.boxes h1 {
    color: #fff !important;
}

.boxes p {
    font-size: 18px;
    font-family: 'comforta b';
    line-height: 25px;
}

.box1 {
    width: 300px;
    text-align: center;
}

#number {
    background: linear-gradient(to bottom right, #3479fc, rgb(101, 33, 228));
    width: 60px;
    margin: auto;
    border-radius: 28px;
    font-size: 25px;
    margin-bottom: 15px;
    transition: 0.2s cubic-bezier(.3, 0, 0, 0.5);
}

#number:hover {
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
}

@media screen and (max-width:770px) {
    .about_us {
        height: auto;
        padding: 0 10vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .title1 {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 3vh;
        z-index: 1;
    }

    .title1 p {
        font-size: 1em !important;
        margin-right: 0;
        margin-top: 15px;
        line-height: 35px;
    }

    .title2 {
        margin-top: 100px;
    }

    .detail {
        width: 280px;
        height: 15px;
        background: linear-gradient(to right, #3479fc, rgb(101, 33, 228));
        opacity: 0.7;
        position: absolute;
        top: 127.6vh;
        z-index: -1;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    .cikice {
        height: 200px;
        width: 300px;
        background-image: url("cikice-posluju.png");
        background-size: cover;
        position: inherit !important;
        margin-top: 100px;
    }

    .boxes {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .boxes h1 {
        color: #fff !important;
    }

    .boxes p {
        font-size: 15px;
        font-family: 'comforta b';
        line-height: 25px;
    }

    .box1 {
        width: 300px;
        text-align: center;
        margin-top: 50px;
    }

    #number {
        background: linear-gradient(to bottom right, #3479fc, rgb(101, 33, 228));
        width: 60px;
        margin: auto;
        border-radius: 28px;
        font-size: 25px;
        margin-bottom: 15px;
        transition: 0.2s cubic-bezier(.3, 0, 0, 0.5);
    }

    #number:hover {
        border-bottom-left-radius: 7px;
        border-top-right-radius: 7px;
    }


}